
html, body {
  margin: 0;
  height: 100vh;
  font-family: 'Stylish', sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
  font-size: 20px;
  overflow: visible;
}

.webp .background {
    background-image: url("../img/gameStoryBackground.webp");
}

.no-webp .background {
    background-image: url("../img/gameStoryBackground.png");
}

.background {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.99;
  width: 100vw;
  height: 100vh;
}

.webp .backCloud {
    background-image: url("../img/backCloud.webp");
}

.no-webp .backCloud {
    background-image: url("../img/backCloud.png");
}

.backCloud {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  width: 100%;
  height: 60%;
  opacity: 1;
  bottom: 0;
  animation: backCloudAnimation 5s infinite linear;
  z-index: -1000;
}

.webp .frontCloud {
  background-image: url("../img/frontCloud.webp");
}

.no-webp .frontCloud {
  background-image: url("../img/frontCloud.webp");
}

.frontCloud {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  width: 100%;
  height: 60%;
  opacity: 0.6;
  bottom: 0;
  animation: frontCloudAnimation 5s infinite linear;
  z-index: -999;
}

.webp .card-main {
  background-Image: url("../img/characterPortraitCard.webp");
}

.no-webp .card-main {
  background-Image: url("../img/characterPortraitCard.webp");
}

.card-main {
  position: absolute;
  background-size: 80vw 70vh;
  background-repeat: no-repeat;
  width: 80vw;
  height: 70vh;
  z-index: 1000;
  top: 50px;
  left: 10vw;
}
