

#main {
  position: relative;
  width: 100%;
  height: 100%;
  animation-name: fadeIn;
  animation-duration: 3s;
}

.main-image{
  position: absolute;
  width: 100%;
  top: 10vh;
}

.main-text {
  font-size: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
  color:white;
  word-break: keep-all;
  bottom: 10vh;
  z-index: 2;
}

.main-text button {
  color:white;
}

@media (min-width: 700px) {
  .card-main {
    background-size: 50vw 80vh;
    background-repeat: no-repeat;
    width: 50vw;
    height: 80vh;
    left: 25vw;
  }
  .main-text {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .card-main {
    background-size: 30vw 80vh;
    background-repeat: no-repeat;
    width: 30vw;
    height: 80vh;
    left: 35vw;
  }
  .main-text {
    font-size: 40px;
  }
}
