#qna {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

.qBox {
  position: absolute;
  width: 100%;
  top: 5vh;
  padding: 0 10vw;
}

.answerBox {
  position: absolute;
  height: 70%;
  width: 100%;
  top: 15vh;
}

.answerList {
  font-size: 16px;
  width: 70%;
  padding: 5px;
  margin-top: 2vh;
  border-radius: 10px;
  border: none;
  background-color: whitesmoke;
}

.status {
  position: absolute;
  width: 100%;
  bottom: 10vh;
  text-align: center;
  color: white;
}

@media (min-width: 700px) {
  .qBox {
    padding: 0 5vw;
  }

  .answerBox {
    bottom: 5vh;
  }
  .answerList {
    height: 10%;
  }
}
