#result {
  display: none;
  position: relative;
  height: 100%;
  color: white;
  text-align: center;
}

#shareResult {
  position: relative;
  height: 100%;
  color: white;
  text-align: center;
}

#resultImg {
  position: absolute;
  height: 50vh;
  width: 100%;
  line-height:50vh;
  top: 10vh;
  animation: cookieAnimation 2s linear infinite;
}

.resultScript {
  position: absolute;
  bottom: 3vh;
  width: 100%;
  font-size: 24px;
  font-style: italic;
}

.resultDesc {
  width: 100%;
  position: absolute;
  bottom: -90vh;
  height: 80vh;
}

.result-back {
  display: none;
  background-image: url('../img/long_back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100vw;
  height: 200vh;
}

.result-back-color {
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.share-result-back {
  background-image: url('../img/long_back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100vw;
  height: 200vh;
}

.share-result-back-color {
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.kakao {
  position: absolute;
  bottom: -120vh;
  width: 30vw;
  left: 25vw;
  border: none;
  border-radius: 20px;
  background-color: white;
}

@media (min-width: 700px) {
  #resultImg {
    height: 65vh;
    line-height:65vh;
  }
  .kakao {
    bottom: -110vh;
    left: 10vw;
  }
}

@media (min-width: 1200px) {
  .kakao {
    bottom: -110vh;
    width: 10vw;
    left: 10vw;
  }
}
